<h1>Sign Up Form</h1>

<%= form_with(url: "/", method: "post") do %>
  <%= label_tag(:q, "Username") %>
  <%= text_field_tag(:q) %>
  <%= label_tag(:q, "Email") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Submit") %>
<% end %>


